div{
    width: 100 vw;
    height: 100 vw;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

h1{
    font-weight: bold;
    color: grey;
    font-size: 58px;
}

h2{
    font-weight: bold;
    font-size: 22px;
}