<div class="box">
    <div class="head">
        <img src="../../assets/cv.png" width="34%" class="img">
    </div>
    <div class="body" [formGroup]="productForm">
        <div class="box-image">
            <ul *ngFor="let link of style; let i = index" class="but">
                <button width="10%"
                [ngStyle]="{'border': '4px solid ','border-color':productForm.value.colorStyle == link.name ? 'green' : '', 'outline':'none','padding': '1%','margin': '0 auto'}"><img
                    [src]="link.url" (click)="setStyle(link.name)"
                    width="99%"></button>
            </ul>
        </div>

        <form>
            <div class="form-group" [formGroup]="productForm">
                <label for="name">Imie:</label>
                <input type="text" width="20vw" class="form-control" id="name" name="name" formControlName="name"
                    maxlength="30" placeholder="Imie"
                    [ngClass]="{ 'is-invalid': submitted && valid.name.errors }" (ngModelChange)="nameEvent()">
                <div *ngIf="submitted && valid.name.errors" class="text-danger">
                    <div *ngIf="valid.name.errors.required"><strong>Imie jest wymagane</strong></div>
                </div>
            </div>

            <div class="form-group" [formGroup]="productForm">
                <label for="surname">Nazwisko:</label>
                <input type="text" width="20vw" class="form-control" id="surname" name="surname" maxlength="30"
                    formControlName="surname" placeholder="Nazwisko"
                    [ngClass]="{ 'is-invalid': submitted && valid.surname.errors }" (ngModelChange)="surnameEvent()">
                <div *ngIf="submitted && valid.surname.errors" class="text-danger">
                    <div *ngIf="valid.surname.errors.required"><strong>Nazwisko jest wymagane</strong></div>
                </div>
            </div>


            <div class="form-group" [formGroup]="productForm">
                <label for="textarea">Opis siebie:</label>
                <textarea class="form-control" width="15vw" id="about" name="about" rows="8" formControlName="about"
                    maxlength="500" [ngClass]="{ 'is-invalid': submitted && valid.about.errors }"></textarea>
                <div *ngIf="submitted && valid.about.errors" class="text-danger">
                    <div *ngIf="valid.about.errors.required"><strong>Opis jest wymagany</strong></div>
                </div>
            </div>

            <div class="form-group" [formGroup]="productForm">
                <label for="surname">Adres:</label>
                <input type="text" width="20vw" class="form-control" id="addres" formControlName="address"
                    maxlength="30" name="address" placeholder="Adres"
                    [ngClass]="{ 'is-invalid': submitted && valid.address.errors }">
                <div *ngIf="submitted && valid.address.errors" class="text-danger">
                    <div *ngIf="valid.address.errors.required"><strong>Adres jest wymagany</strong></div>
                </div>
            </div>

            <div class="form-group" [formGroup]="productForm">
                <label for="surname">Telefon:</label>
                <input type="text" width="20vw" class="form-control" id="telephone" formControlName="telephone" 
                 name="telephone" placeholder="Telefon" maxlength="9"
                    [ngClass]="{ 'is-invalid': submitted && valid.telephone.errors }">
                <div *ngIf="submitted && valid.telephone.errors" class="text-danger">
                    <div *ngIf="valid.telephone.errors.required"><strong>Telefon jest wymagany</strong></div>
                    <div *ngIf="valid.telephone.errors.pattern"><strong>Podaj poprawny telefon !!!</strong></div>
                </div>
            </div>

            <div class="form-group" [formGroup]="productForm">
                <label for="surname">Email:</label>
                <input type="email" width="20vw" class="form-control" id="email" name="email" formControlName="email"
                    maxlength="40" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && valid.email.errors }">
                <div *ngIf="submitted && valid.email.errors" class="text-danger">
                    <div *ngIf="valid.email.errors.required"><strong>Email jest wymagany</strong></div>
                    <div *ngIf="valid.email.errors.email">E-mail musi być prawidłowym adresem e-mail</div>
                </div>
            </div>

            <div class="form-group">
                <button type="button" (click)="addQuantity()" class="btn btn-primary">Dodaj szkołe</button>
            </div>
            <div [formGroup]="productForm">
                <table formArrayName="educations">
                    <tr *ngFor="let education of educations().controls; let i=index" [formGroupName]="i">
                        <td>
                            Od:
                            <input type="number" width="5%" formControlName="from" class="form-control" maxlength="4"
                                [ngClass]="{ 'is-invalid': submitted && education.get('from')?.errors}">
                            <div *ngIf="submitted && education.get('from')?.errors" class="text-danger">
                                <div *ngIf="education.get('from')?.errors?.required"><strong>Pole jest wymagane</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            Do:
                            <input type="number" width="5%" formControlName="to" class="form-control" maxlength="4"
                                [ngClass]="{ 'is-invalid': submitted && education.get('to')?.errors}">
                            <div *ngIf="submitted && education.get('to')?.errors" class="text-danger">
                                <div *ngIf="education.get('to')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            Nazwa kierunku:
                            <input type="text" width="15%" formControlName="name" class="form-control" maxlength="64"
                                [ngClass]="{ 'is-invalid': submitted && education.get('name')?.errors}">
                            <div *ngIf="submitted && education.get('name')?.errors" class="text-danger">
                                <div *ngIf="education.get('name')?.errors?.required"><strong>Pole jest wymagane</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            Szkoła
                            <input type="text" width="15%" formControlName="schoolName" class="form-control"
                                maxlength="64" [ngClass]="{ 'is-invalid': submitted && education.get('to')?.errors}">
                            <div *ngIf="submitted && education.get('to')?.errors" class="text-danger">
                                <div *ngIf="education.get('to')?.errors?.required"><strong>Pole jest wymagane</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" (click)="removeEducation(i)" class="btn btn-danger">Usuń</button>
                        </td>

                    </tr>
                </table>
            </div>

            <div>
                <div class="form-group">
                    <button type="button" (click)="addSkills()" class="btn btn-primary">Dodaj umiejętność</button>
                </div>

                <div [formGroup]="productForm">
                    <table formArrayName="skills">
                        <tr *ngFor="let skill of skills().controls; let i=index" [formGroupName]="i">
                            <td>
                                Umiejetnosc:
                                <input type="text" width="5%" formControlName="name" class="form-control" maxlength="80"
                                    [ngClass]="{ 'is-invalid': submitted && skill.get('name')?.errors}">
                                <div *ngIf="submitted && skill.get('name')?.errors" class="text-danger">
                                    <div *ngIf="skill.get('name')?.errors?.required"><strong>Pole jest wymagane</strong>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" (click)="removeSkills(i)" class="btn btn-danger">Usuń</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <button type="button" (click)="addCarrer()" class="btn btn-primary">Dodaj kariere</button>
            </div>

            <div [formGroup]="productForm">
                <table formArrayName="careers">
                    <tr *ngFor="let carrera of carreras().controls; let i=index" [formGroupName]="i">
                        <td>
                            Od:
                            <input type="number" width="5%" formControlName="from" class="form-control" maxlength="4"
                                [ngClass]="{ 'is-invalid': submitted && carrera.get('from')?.errors}">
                            <div *ngIf="submitted && carrera.get('from')?.errors" class="text-danger">
                                <div *ngIf="carrera.get('from')?.errors?.required"><strong>Pole jest wymagane</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            Do:
                            <input type="number" width="5%" formControlName="to" class="form-control" maxlength="4"
                                [ngClass]="{ 'is-invalid': submitted && carrera.get('to')?.errors}">
                            <div *ngIf="submitted && carrera.get('from')?.errors" class="text-danger">
                                <div *ngIf="carrera.get('from')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            Firma:
                            <input type="text" width="10%" formControlName="company" class="form-control" maxlength="64"
                                [ngClass]="{ 'is-invalid': submitted && carrera.get('company')?.errors}">
                            <div *ngIf="submitted && carrera.get('company')?.errors" class="text-danger">
                                <div *ngIf="carrera.get('company')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            Stanowisko
                            <input type="text" width="10%" formControlName="jobTitle" class="form-control"
                                maxlength="64"
                                [ngClass]="{ 'is-invalid': submitted && carrera.get('jobTitle')?.errors}">
                            <div *ngIf="submitted && carrera.get('jobTitle')?.errors" class="text-danger">
                                <div *ngIf="carrera.get('jobTitle')?.errors?.required"><strong>Pole jest wymagane</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            Opis
                            <input type="text" width="10%" formControlName="about" class="form-control" maxlength="64"
                                [ngClass]="{ 'is-invalid': submitted && carrera.get('about')?.errors}">
                            <div *ngIf="submitted && carrera.get('about')?.errors" class="text-danger">
                                <div *ngIf="carrera.get('about')?.errors?.required"><strong>Pole jest wymagane</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" (click)="removeCarrier(i)" class="btn btn-danger">Usuń</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <button type="button" (click)="addLanguage()" class="btn btn-primary">Dodaj język</button>
            </div>

            <div [formGroup]="productForm">
                <table formArrayName="languages">
                    <tr *ngFor="let language of languages().controls; let i=index" [formGroupName]="i">
                        <td>
                            Język:
                            <input type="text" width="5%" formControlName="name" class="form-control" maxlength="18"
                                [ngClass]="{ 'is-invalid': submitted && language.get('name')?.errors}">
                            <div *ngIf="submitted && language.get('name')?.errors" class="text-danger">
                                <div *ngIf="language.get('name')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            Poziom:
                            <select width="5%" formControlName="level" class="form-select"
                                [ngClass]="{ 'is-invalid': submitted && language.get('level')?.errors}">
                                <option>A1</option>
                                <option>A2</option>
                                <option>B1</option>
                                <option>B2</option>
                                <option>C1</option>
                                <option>C2</option>
                                <option>Native</option>
                            </select>
                            <div *ngIf="submitted && language.get('level')?.errors" class="text-danger">
                                <div *ngIf="language.get('level')?.errors?.required"><strong>Pole jest wymagane</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" (click)="removeLanguage(i)" class="btn btn-danger">Usuń</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <button type="button" (click)="addInterest()" class="btn btn-primary">Dodaj zainteresowanie</button>
            </div>

            <div [formGroup]="productForm">
                <table formArrayName="interests">
                    <tr *ngFor="let interest of interests().controls; let i=index" [formGroupName]="i">
                        <td>
                            Zainteresowanie:
                            <input type="text" width="5%" formControlName="name" formControlName="name" maxlength="30"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && interest.get('name')?.errors}">
                            <div *ngIf="submitted && interest.get('name')?.errors" class="text-danger">
                                <div *ngIf="interest.get('name')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            <button type="button" (click)="removeInterest(i)" class="btn btn-danger">Usuń</button>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="form-group">
                <button type="button" (click)="addMedia()" class="btn btn-primary">Dodaj link</button>
            </div>

            <div [formGroup]="productForm">
                <table formArrayName="medias">
                    <tr *ngFor="let media of medias().controls; let i=index" [formGroupName]="i">
                        <td>
                            Nazwa(Github, Linkdelin):
                            <input type="text" width="5%" formControlName="name" formControlName="name" maxlength="18"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && media.get('name')?.errors}">
                            <div *ngIf="submitted && media.get('name')?.errors" class="text-danger">
                                <div *ngIf="media.get('name')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            Link:
                            <input type="text" width="5%" formControlName="link" formControlName="link" maxlength="40"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && media.get('link')?.errors}">
                            <div *ngIf="submitted && media.get('link')?.errors" class="text-danger">
                                <div *ngIf="media.get('link')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            <button type="button" (click)="removeMedia(i)" class="btn btn-danger">Usuń</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <button type="button" (click)="addCourse()" class="btn btn-primary">Dodaj kurs</button>
            </div>

            <div [formGroup]="productForm">
                <table formArrayName="courses">
                    <tr *ngFor="let course of courses().controls; let i=index" [formGroupName]="i">
                        <td>
                            Nazwa:
                            <input type="text" width="5%" formControlName="name" formControlName="name" maxlength="18"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && course.get('name')?.errors}">
                            <div *ngIf="submitted && course.get('name')?.errors" class="text-danger">
                                <div *ngIf="course.get('name')?.errors?.required"><strong>Pole jest wymagane</strong></div>
                            </div>
                        </td>
                        <td>
                            <button type="button" (click)="removeCourse(i)" class="btn btn-danger">Usuń</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Wybierz zdjęcie:</label>
                <input type="file" class="form-control-file" (change)="onFileChanged($event)"
                    id="exampleFormControlFile1">
            </div>
        </form>

    </div>
    <div class="box-image">
        <button type="button" class="btn btn-success" (click)="send()">Generuj</button>
        <button type="button" class="btn btn-secondary" (click)="setEmpty()">Wyczyść</button>
    </div>
    
</div>